In [1]:
import requests
r_lgv= requests.get("https://www.health.harvard.edu/diseases-and-conditions/glycemic-index-and-glycemic-load-for-100-foods")

In [2]:
print(r_lgv.text[0:600])

<!DOCTYPE html>
<html class="no-js">
<head>

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

	<title>Glycemic index for 60+ foods - Harvard Health</title>

	<link rel="canonical" href="https://www.health.harvard.edu/diseases-and-conditions/glycemic-index-and-glycemic-load-for-100-foods">

	<meta name="description" content="The glycemic index is a value assigned to foods based on how slowly or how quickly those foods cause increases in blood glucose levels. Foods low on the glycemic&#8230;">
	<meta name="keywords" content="health, information, medical, information,

In [3]:
from bs4 import BeautifulSoup
soup_rlgv=BeautifulSoup(r_lgv.text,'html.parser')

In [4]:
r_lgv1 = soup_rlgv.find_all('td',attrs={'valign':'top'})

In [5]:
len(r_lgv1)

154

In [6]:
r_lgv1[0:40]

[<td valign="top"><strong>HIGH-CARBOHYDRATE FOODS</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">White wheat bread*</td>,
 <td valign="top">75 ± 2</td>,
 <td valign="top">Whole wheat/whole meal bread</td>,
 <td valign="top">74 ± 2</td>,
 <td valign="top">Specialty grain bread</td>,
 <td valign="top">53 ± 2</td>,
 <td valign="top">Unleavened wheat bread</td>,
 <td valign="top">70 ± 5</td>,
 <td valign="top">Wheat roti</td>,
 <td valign="top">62 ± 3</td>,
 <td valign="top">Chapatti</td>,
 <td valign="top">52 ± 4</td>,
 <td valign="top">Corn tortilla</td>,
 <td valign="top">46 ± 4</td>,
 <td valign="top">White rice, boiled*</td>,
 <td valign="top">73 ± 4</td>,
 <td valign="top">Brown rice, boiled</td>,
 <td valign="top">68 ± 4</td>,
 <td valign="top">Barley</td>,
 <td valign="top">28 ± 2</td>,
 <td valign="top">Sweet corn</td>,
 <td valign="top">52 ± 5</td>,
 <td valign="top">Spaghetti, white</td>,
 <td valign="top">49 ± 2</td>,
 <td valign="top">Spaghetti, whole meal</td>,
 <td valign="top">48 ± 5</td>,
 <td valign="top">Rice noodles†</td>,
 <td valign="top">53 ± 7</td>,
 <td valign="top">Udon noodles</td>,
 <td valign="top">55 ± 7</td>,
 <td valign="top">Couscous†</td>,
 <td valign="top">65 ± 4</td>,
 <td valign="top"> </td>,
 <td valign="top"> </td>,
 <td valign="top"><strong>BREAKFAST CEREALS</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">Cornflakes</td>,
 <td valign="top">81 ± 6</td>]

In [7]:
r_lgv1[2].text

'White wheat bread*'

In [8]:
r_lgv1[2].text[:-1]

'White wheat bread'

In [9]:
r_lgv1[3].text[:-4]

'75'

In [10]:
r_lgv1[16].text#[:-1]

'White rice, boiled*'

In [11]:
res_highcarbo_mg =[]#for medium gi
res_highcarbo_lg =[]#for low gi
res_highcarbo_hg =[]#for high gi
#remove 2,8,14, 24 to full

#res_highcarbo_mg.append(r_lgv1[2].text[:-1])

index_highcarbo_mg =[4,10,18]
index_highcarbo_lg =[6,12,20,22]

index_highcarbo_hg =[]#16 splice it
res_highcarbo_hg.append(r_lgv1[16].text[:-1])

for i in index_highcarbo_mg:
    res_highcarbo_mg.append(r_lgv1[i].text)

for j in index_highcarbo_lg:
    res_highcarbo_lg.append(r_lgv1[j].text)

In [12]:
res_highcarbo_hg

['White rice, boiled']

In [13]:
#end of high carbo low,med,high gi

In [14]:
#breakfast cereals

In [15]:
r_lgv1[36:52]

[<td valign="top"><strong>BREAKFAST CEREALS</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">Cornflakes</td>,
 <td valign="top">81 ± 6</td>,
 <td valign="top">Wheat flake biscuits</td>,
 <td valign="top">69 ± 2</td>,
 <td valign="top">Porridge, rolled oats</td>,
 <td valign="top">55 ± 2</td>,
 <td valign="top">Instant oat porridge</td>,
 <td valign="top">79 ± 3</td>,
 <td valign="top">Rice porridge/congee</td>,
 <td valign="top">78 ± 9</td>,
 <td valign="top">Millet porridge</td>,
 <td valign="top">67 ± 5</td>,
 <td valign="top">Muesli</td>,
 <td valign="top">57 ± 2</td>]

In [16]:
res_bfcereals_mg =[]#for medium gi
res_bfcereals_lg =[]#for low gi
res_bfcereals_hg =[]#for high gi
#remove 40,46,50

index_bfcereals_mg =[48]
res_bfcereals_mg.append(r_lgv1[48].text)

index_bfcereals_lg =[42]
res_bfcereals_lg.append(r_lgv1[42].text)


index_bfcereals_hg =[38,44]

for j in index_bfcereals_hg:
    res_bfcereals_hg.append(r_lgv1[j].text)

In [17]:
res_bfcereals_mg

['Millet porridge']

In [18]:
#end of breakfast cereals low,med,high gi

In [19]:
#fruits and fruit products

In [20]:
r_lgv1[53:79]

[<td valign="top"> </td>,
 <td valign="top"><strong>FRUIT AND FRUIT PRODUCTS</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">Apple, raw†</td>,
 <td valign="top">36 ± 2</td>,
 <td valign="top">Orange, raw†</td>,
 <td valign="top">43 ± 3</td>,
 <td valign="top">Banana, raw†</td>,
 <td valign="top">51 ± 3</td>,
 <td valign="top">Pineapple, raw</td>,
 <td valign="top">59 ± 8</td>,
 <td valign="top">Mango, raw†</td>,
 <td valign="top">51 ± 5</td>,
 <td valign="top">Watermelon, raw</td>,
 <td valign="top">76 ± 4</td>,
 <td valign="top">Dates, raw</td>,
 <td valign="top">42 ± 4</td>,
 <td valign="top">Peaches, canned†</td>,
 <td valign="top">43 ± 5</td>,
 <td valign="top">Strawberry jam/jelly</td>,
 <td valign="top">49 ± 3</td>,
 <td valign="top">Apple juice</td>,
 <td valign="top">41 ± 2</td>,
 <td valign="top">Orange juice</td>,
 <td valign="top">50 ± 2</td>,
 <td valign="top"> </td>]

In [21]:
r_lgv1[82].text#[:-1]

'Potato, boiled'

In [22]:
res_fruitsharvard_mg =[]#for medium gi
res_fruitsharvard_lg =[]#for low gi
res_fruitsharvard_hg =[]#for high gi
#skipped juices


index_fruitsharvard_mg =[62,64]

index_fruitsharvard_lg1 =[56,58,60,70]#needs splicing

index_fruitsharvard_lg2=[68,72]

index_fruitsharvard_hg =[66]
res_fruitsharvard_hg.append(r_lgv1[66].text)


for i in index_fruitsharvard_mg:
    if i == 62:
        res_fruitsharvard_mg.append(r_lgv1[i].text)
    if i == 64:
        res_fruitsharvard_mg.append(r_lgv1[i].text[:-1])
        
    

for j in index_fruitsharvard_lg1:
    res_fruitsharvard_lg.append(r_lgv1[j].text[:-1])
    
for k in index_fruitsharvard_lg2:
    res_fruitsharvard_lg.append(r_lgv1[k].text)

In [23]:
res_fruitsharvard_mg

['Pineapple, raw', 'Mango, raw']

In [24]:
#end of fruits harvard low,med,high gi
#start of vegetables

In [25]:
r_lgv1[80:100]

[<td valign="top"><strong>VEGETABLES</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">Potato, boiled</td>,
 <td valign="top">78 ± 4</td>,
 <td valign="top">Potato, instant mash</td>,
 <td valign="top">87 ± 3</td>,
 <td valign="top">Potato, french fries</td>,
 <td valign="top">63 ± 5</td>,
 <td valign="top">Carrots, boiled</td>,
 <td valign="top">39 ± 4</td>,
 <td valign="top">Sweet potato, boiled</td>,
 <td valign="top">63 ± 6</td>,
 <td valign="top">Pumpkin, boiled</td>,
 <td valign="top">64 ± 7</td>,
 <td valign="top">Plantain/green banana</td>,
 <td valign="top">55 ± 6</td>,
 <td valign="top">Taro, boiled</td>,
 <td valign="top">53 ± 2</td>,
 <td valign="top">Vegetable soup</td>,
 <td valign="top">48 ± 5</td>]

In [26]:
res_vegeharvard_mg =[]#for medium gi
res_vegeharvard_lg =[]#for low gi
res_vegeharvard_hg =[]#for high gi
#skipped vegetable soups,potatot fries and mash


index_vegeharvard_mg =[90,92,94]

index_vegeharvard_lg =[88]
res_vegeharvard_lg.append(r_lgv1[88].text)


index_vegeharvard_hg =[82]
res_vegeharvard_hg.append(r_lgv1[82].text)


for i in index_vegeharvard_mg:
    res_vegeharvard_mg.append(r_lgv1[i].text)

In [27]:
res_vegeharvard_lg

['Carrots, boiled']

In [28]:
#end of vegetables harvard low,med,high gi
#start of dairy

In [29]:
r_lgv1[102:116]

[<td valign="top"><strong>DAIRY PRODUCTS AND ALTERNATIVES</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">Milk, full fat</td>,
 <td valign="top">39 ± 3</td>,
 <td valign="top">Milk, skim</td>,
 <td valign="top">37 ± 4</td>,
 <td valign="top">Ice cream</td>,
 <td valign="top">51 ± 3</td>,
 <td valign="top">Yogurt, fruit</td>,
 <td valign="top">41 ± 2</td>,
 <td valign="top">Soy milk</td>,
 <td valign="top">34 ± 4</td>,
 <td valign="top">Rice milk</td>,
 <td valign="top">86 ± 7</td>]

In [30]:
r_lgv1[106].text

'Milk, skim'

In [31]:
res_dairyharvard_mg =[]#for medium gi
res_dairyharvard_lg =[]#for low gi
res_dairyharvard_hg =[]#for high gi
#skipped milk full fat,rice milk


index_dairyharvard_mg =[108]
res_dairyharvard_mg.append(r_lgv1[108].text)

index_dairyharvard_lg =[106,110,112]



index_dairyharvard_hg =[]
#res_dairyharvard_hg.append(r_lgv1[].text)


for i in index_dairyharvard_lg:
    res_dairyharvard_lg.append(r_lgv1[i].text)

In [32]:
res_dairyharvard_lg

['Milk, skim', 'Yogurt, fruit', 'Soy milk']

In [33]:
#end of dairy harvard low,med,high gi
#start of legumes

In [34]:
r_lgv1[118:129]

[<td valign="top"><strong>LEGUMES</strong></td>,
 <td valign="top"> </td>,
 <td valign="top">Chickpeas</td>,
 <td valign="top">28 ± 9</td>,
 <td valign="top">Kidney beans</td>,
 <td valign="top">24 ± 4</td>,
 <td valign="top">Lentils</td>,
 <td valign="top">32 ± 5</td>,
 <td valign="top">Soya beans</td>,
 <td valign="top">16 ± 1</td>,
 <td valign="top"> </td>]

In [35]:
r_lgv1[120].text

'Chickpeas'

In [36]:
res_legumesharvard_mg =[]#for medium gi
res_legumesharvard_lg =[]#for low gi
res_legumesharvard_hg =[]#for high gi
#skipped


index_legumesharvard_lg =[120,122,124,126]


for i in index_legumesharvard_lg:
    res_legumesharvard_lg.append(r_lgv1[i].text)

In [37]:
res_legumesharvard_lg

['Chickpeas', 'Kidney beans', 'Lentils', 'Soya beans']

In [38]:
#end of legumes harvard low,med,high gi

In [39]:
#building the dataset

In [40]:
#low gi first

In [41]:
res_legumesharvard_lg.append(None)
res_legumesharvard_lg.append(None)

In [42]:

res_dairyharvard_lg
ap=3
while ap!=0:
    res_dairyharvard_lg.append(None)
    ap = ap -1

In [43]:
res_vegeharvard_lg
ap=5
while ap!=0:
    res_vegeharvard_lg.append(None)
    ap = ap -1

In [44]:
res_legumesharvard_lg

['Chickpeas', 'Kidney beans', 'Lentils', 'Soya beans', None, None]

In [45]:

res_bfcereals_lg
ap=5
while ap!=0:
    res_bfcereals_lg.append(None)
    ap = ap -1

In [46]:
res_highcarbo_lg.append(None)
res_highcarbo_lg.append(None)

In [47]:
#adding poultry
res_poultry_lg =['fish','chicken','lamb','eggs','pork',None]
res_poultry_mg = [None,None,None]
res_poultry_hg = [None,None]

In [48]:
records = []
index_lg=[0,1,2,3,4,5]
val = 'low'
for i in index_lg:  
    veg = res_vegeharvard_lg[i]
    fru = res_fruitsharvard_lg[i]
    dair = res_dairyharvard_lg[i]
    breakf = res_bfcereals_lg[i]
    poul = res_poultry_lg[i]
    records.append((val,veg,fru,dair,breakf,poul))

In [49]:
records

[('low',
  'Carrots, boiled',
  'Apple, raw',
  'Milk, skim',
  'Porridge, rolled oats',
  'fish'),
 ('low', None, 'Orange, raw', 'Yogurt, fruit', None, 'chicken'),
 ('low', None, 'Banana, raw', 'Soy milk', None, 'lamb'),
 ('low', None, 'Peaches, canned', None, None, 'eggs'),
 ('low', None, 'Dates, raw', None, None, 'pork'),
 ('low', None, 'Strawberry jam/jelly', None, None, None)]

In [50]:
#medium gi

In [51]:
res_vegeharvard_mg

['Sweet potato, boiled', 'Pumpkin, boiled', 'Plantain/green banana']

In [52]:
res_fruitsharvard_mg.append(None)

In [53]:
res_dairyharvard_mg

['Ice cream']

In [54]:
res_bfcereals_mg

['Millet porridge']

In [55]:
ap=2
while ap!=0:
    res_bfcereals_mg.append(None)
    res_dairyharvard_mg.append(None)
    ap = ap -1

In [56]:
res_fruitsharvard_mg

['Pineapple, raw', 'Mango, raw', None]

In [57]:
index_mg=[0,1,2]
val = 'medium'
for i in index_mg:  
    veg = res_vegeharvard_mg[i]
    fru = res_fruitsharvard_mg[i]
    dair = res_dairyharvard_mg[i]
    breakf = res_bfcereals_mg[i]
    poul = res_poultry_mg[i]
    records.append((val,veg,fru,dair,breakf,poul))

In [58]:
records

[('low',
  'Carrots, boiled',
  'Apple, raw',
  'Milk, skim',
  'Porridge, rolled oats',
  'fish'),
 ('low', None, 'Orange, raw', 'Yogurt, fruit', None, 'chicken'),
 ('low', None, 'Banana, raw', 'Soy milk', None, 'lamb'),
 ('low', None, 'Peaches, canned', None, None, 'eggs'),
 ('low', None, 'Dates, raw', None, None, 'pork'),
 ('low', None, 'Strawberry jam/jelly', None, None, None),
 ('medium',
  'Sweet potato, boiled',
  'Pineapple, raw',
  'Ice cream',
  'Millet porridge',
  None),
 ('medium', 'Pumpkin, boiled', 'Mango, raw', None, None, None),
 ('medium', 'Plantain/green banana', None, None, None, None)]

In [59]:
#high gi

In [60]:
res_vegeharvard_hg.append(None)

In [61]:
res_fruitsharvard_hg.append(None)

In [62]:
res_dairyharvard_hg.append(None)
res_dairyharvard_hg.append(None)

In [63]:
res_bfcereals_hg

['Cornflakes', 'Instant oat porridge']

In [64]:
index_hg=[0,1]
val = 'high'
for i in index_hg:  
    veg = res_vegeharvard_hg[i]
    fru = res_fruitsharvard_hg[i]
    dair = res_dairyharvard_hg[i]
    breakf = res_bfcereals_hg[i]
    poul = res_poultry_hg[i]
    records.append((val,veg,fru,dair,breakf,poul))

In [65]:
records

[('low',
  'Carrots, boiled',
  'Apple, raw',
  'Milk, skim',
  'Porridge, rolled oats',
  'fish'),
 ('low', None, 'Orange, raw', 'Yogurt, fruit', None, 'chicken'),
 ('low', None, 'Banana, raw', 'Soy milk', None, 'lamb'),
 ('low', None, 'Peaches, canned', None, None, 'eggs'),
 ('low', None, 'Dates, raw', None, None, 'pork'),
 ('low', None, 'Strawberry jam/jelly', None, None, None),
 ('medium',
  'Sweet potato, boiled',
  'Pineapple, raw',
  'Ice cream',
  'Millet porridge',
  None),
 ('medium', 'Pumpkin, boiled', 'Mango, raw', None, None, None),
 ('medium', 'Plantain/green banana', None, None, None, None),
 ('high', 'Potato, boiled', 'Watermelon, raw', None, 'Cornflakes', None),
 ('high', None, None, None, 'Instant oat porridge', None)]

In [66]:
len(records)

11

In [67]:
import pandas as pd  
df = pd.DataFrame(records, columns=['gi', 'vegetables', 'fruits', 'dairy','breakfast_cereals','poultry'])

In [68]:
df.head()

,gi,vegetables,fruits,dairy,breakfast_cereals,poultry
0,low,"Carrots, boiled","Apple, raw","Milk, skim","Porridge, rolled oats",fish
1,low,None,"Orange, raw","Yogurt, fruit",None,chicken
2,low,None,"Banana, raw",Soy milk,None,lamb
3,low,None,"Peaches, canned",None,None,eggs
4,low,None,"Dates, raw",None,None,pork

In [69]:
df.tail()

,gi,vegetables,fruits,dairy,breakfast_cereals,poultry
6,medium,"Sweet potato, boiled","Pineapple, raw",Ice cream,Millet porridge,None
7,medium,"Pumpkin, boiled","Mango, raw",None,None,None
8,medium,Plantain/green banana,None,None,None,None
9,high,"Potato, boiled","Watermelon, raw",None,Cornflakes,None
10,high,None,None,None,Instant oat porridge,None

In [70]:
#just has 14 records as of now