In [137]:
import requests
r= requests.get("https://www.medicalnewstoday.com/articles/317225#best-vegetables")
r1=requests.get("https://www.healthline.com/health/diabetes/low-glycemic-fruits-for-diabetes")
r2=requests.get("https://www.medicalnewstoday.com/articles/324141#almonds")
r3=requests.get("https://www.everydayhealth.com/type-2-diabetes/diet/guide-eating-dairy-with-diabetes/")
r4=requests.get("https://food.ndtv.com/health/fibre-rich-foods-for-diabetes-5-foods-that-manage-blood-sugar-levels-1881690")

In [138]:
print(r1.text[0:500])

<!DOCTYPE html><html lang="en"><head>
<link rel=preload href="https://assets.medicalnewstoday.com/_next/vendor-02c5d-legacy.js" as=script crossorigin=anonymous><link rel=preload href="https://assets.medicalnewstoday.com/_next/lib-44554-legacy.js" as=script crossorigin=anonymous><link rel=preload href="https://assets.medicalnewstoday.com/_next/b451dca2-41ac-499b-9453-ea5291eb7197/hl/pages/tabbed.js-legacy.js" as=script crossorigin=anonymous>
<title>10 Low-Glycemic Fruits for Diabetes</title><link

In [140]:
from bs4 import BeautifulSoup
soup=BeautifulSoup(r.text,'html.parser')
soup1=BeautifulSoup(r1.text,'html.parser')
soup2=BeautifulSoup(r2.text,'html.parser')
soup3=BeautifulSoup(r3.text,'html.parser')
soup4=BeautifulSoup(r4.text,'html.parser')

In [141]:
results = soup.find_all('ul')
results1 = soup1.find_all('h2')
results2= soup2.find_all('h2')
results3=soup3.find_all('h3')
results4=soup3.find_all('strong')

In [142]:
len(results)
len(results1)

13

In [143]:
results1[0:500]

[<h2 class="css-13i30ag"><div><a name="overview"> Safer fruits for diabetes</a></div></h2>,
 <h2><div><a name="glycemic-index"> What is the glycemic
 index?</a></div></h2>,
 <h2><div><a name="cherries"> 1. Cherries</a></div></h2>,
 <h2><div><a name="grapefruit"> 2. Grapefruit</a></div></h2>,
 <h2><div><a name="dried-apricots"> 3. Dried apricots</a></div></h2>,
 <h2><div><a name="pears"> 4. Pears</a></div></h2>,
 <h2><div><a name="apples"> 5. Apples</a></div></h2>,
 <h2><div><a name="oranges"> 6. Oranges</a></div></h2>,
 <h2><div><a name="plums"> 7. Plums</a></div></h2>,
 <h2><div><a name="strawberries"> 8. Strawberries</a></div></h2>,
 <h2><div><a name="peaches"> 9. Peaches</a></div></h2>,
 <h2><div><a name="grapes"> 10. Grapes</a></div></h2>,
 <h2 class="css-11kr1sc">related stories</h2>]

In [144]:
first_result = results[0]
first_result

<ul class="css-17ztj4b"><li class="css-uksoej"><a class="css-143q8sx" href="#best-vegetables">Best vegetables</a></li><li class="css-uksoej"><a class="css-143q8sx" href="#why-choose-vegetables">Why choose vegetables</a></li><li class="css-uksoej"><a class="css-143q8sx" href="#vegan-or-vegetarian">Vegan or vegetarian</a></li><li class="css-uksoej"><a class="css-143q8sx" href="#meal-plan">Meal plan</a></li></ul>

In [145]:
first_result.find('li')

In [146]:
first_result.contents

[<li class="css-uksoej"><a class="css-143q8sx" href="#best-vegetables">Best vegetables</a></li>,
 <li class="css-uksoej"><a class="css-143q8sx" href="#why-choose-vegetables">Why choose vegetables</a></li>,
 <li class="css-uksoej"><a class="css-143q8sx" href="#vegan-or-vegetarian">Vegan or vegetarian</a></li>,
 <li class="css-uksoej"><a class="css-143q8sx" href="#meal-plan">Meal plan</a></li>]

In [147]:
records = []
for result in results:
    veg = result.contents[0:9]
    records.append((veg))

In [148]:
len(records)

12

In [149]:
records[0:3]

[[<li class="css-uksoej"><a class="css-143q8sx" href="#best-vegetables">Best vegetables</a></li>,
  <li class="css-uksoej"><a class="css-143q8sx" href="#why-choose-vegetables">Why choose vegetables</a></li>,
  <li class="css-uksoej"><a class="css-143q8sx" href="#vegan-or-vegetarian">Vegan or vegetarian</a></li>,
  <li class="css-uksoej"><a class="css-143q8sx" href="#meal-plan">Meal plan</a></li>],
 [<li>Frozen green peas score 39 on the GI index.</li>,
  <li><a class="content-link css-29oowu" href="https://www.medicalnewstoday.com/articles/270191.php">Carrots</a> score 41 when boiled and 16 when raw.</li>,
  <li><a class="content-link css-29oowu" href="https://www.medicalnewstoday.com/articles/266765.php">Broccoli</a> scores 10.</li>,
  <li>Tomatoes score 15.</li>],
 [<li>artichoke</li>,
  <li><a class="content-link css-29oowu" href="https://www.medicalnewstoday.com/articles/270805.php">asparagus</a></li>,
  <li>broccoli</li>,
  <li><a class="content-link css-29oowu" href="https://www.medicalnewstoday.com/articles/282844.php">cauliflower</a></li>,
  <li><a class="content-link css-29oowu" href="https://www.medicalnewstoday.com/articles/285753.php">green beans</a></li>,
  <li>lettuce</li>,
  <li><a class="content-link css-29oowu" href="https://www.medicalnewstoday.com/articles/279359.php">eggplant</a></li>,
  <li>peppers</li>,
  <li>snow peas</li>]]

In [150]:
import pandas as pd
df = pd.DataFrame(records , columns=['veg','veg','veg','veg','veg','veg','veg','veg','veg'])

In [151]:
df.head()

,veg,veg,veg,veg,veg,veg,veg,veg,veg
0,[[Best vegetables]],[[Why choose vegetables]],[[Vegan or vegetarian]],[[Meal plan]],None,None,None,None,None
1,[Frozen green peas score 39 on the GI index.],"[[Carrots], score 41 when boiled and 16 when ...","[[Broccoli], scores 10.]",[Tomatoes score 15.],None,None,None,None,None
2,[artichoke],[[asparagus]],[broccoli],[[cauliflower]],[[green beans]],[lettuce],[[eggplant]],[peppers],[snow peas]
3,[[arugula]],"[[beets], and , [beet juice]]",[lettuce],[celery],[rhubarb],None,None,None,None
4,[spinach],[[bok choy]],[asparagus],[mustard greens],[broccoli],[[Brussels sprouts]],[cauliflower],None,None

In [152]:
df.tail()

,veg,veg,veg,veg,veg,veg,veg,veg,veg
7,"[avocado, cherry tomato, and chickpea salad]",[hard-boiled eggs and roasted beets with black...,[low-sodium cottage cheese spread on toasted s...,[tofu burger patty with spinach and avocado],"[spinach salad with chia seeds, tomatoes, bell...",[quinoa and fruit added to unsweetened Greek y...,"[quinoa with pepper or vinaigrette season, or ...",[almond butter on sprouted-grain bread with a ...,None
8,[[Diabetes]],[[Type 2]],[[Nutrition / Diet]],[[Vegan / Vegetarian]],None,None,None,None,None
9,[[[Diabetes research ‘breakthrough’ may open n...,"[[[]], [[Non-insulin drugs for treating type 2...","[[View all, []]]",None,None,None,None,None,None
10,"[[[<div class=""css-arlbvo""><div class=""css-lm0...","[[[<div class=""css-arlbvo""><span class=""css-zy...","[[[<div class=""css-arlbvo""><div class=""css-lm0...","[[[<div class=""css-arlbvo""><div class=""css-lm0...",None,None,None,None,None
11,[[Medical Review Team]],[[Editorial Process]],[[Content Directory]],[[Knowledge Center]],[[Ad Policy]],[[Newsletters]],[[Share our content]],[[About us]],[[Our editorial team]]

In [153]:
records1 = []
for result in results1:
    fruits = result.contents[0:1]
    records1.append((fruits))

In [154]:
import pandas as pd
df = pd.DataFrame(records1 , columns=['fruits'])

In [155]:
df.head()

                              fruits
0     [[ Safer fruits for diabetes]]
1  [[ What is the glycemic\nindex?]]
2                   [[ 1. Cherries]]
3                 [[ 2. Grapefruit]]
4             [[ 3. Dried apricots]]

In [156]:
df.tail()

                  fruits
8          [[ 7. Plums]]
9   [[ 8. Strawberries]]
10       [[ 9. Peaches]]
11       [[ 10. Grapes]]
12       related stories

In [157]:
records2 = []
for result in results2:
    nuts = result.contents[0:1]
    records2.append((nuts))

In [158]:
import pandas as pd
df = pd.DataFrame(records2 , columns=['nuts(unsalted)'])

In [159]:
df.head()

                          nuts(unsalted)
0  [[Why are nuts useful for diabetes?]]
1                            [[Almonds]]
2                            [[Walnuts]]
3                            [[Cashews]]
4                         [[Pistachios]]

In [160]:
df.tail()

   nuts(unsalted)
3     [[Cashews]]
4  [[Pistachios]]
5     [[Peanuts]]
6    [[Takeaway]]
7     Latest news

In [161]:
records3 = []
for result in results3:
    dairy = result.contents[0:9]
    records3.append((dairy))

In [162]:
import pandas as pd
df = pd.DataFrame(records3 , columns=['dairy products'])

In [163]:
df.head()

             dairy products
0              Greek Yogurt
1             String Cheese
2           Grass-Fed Dairy
3             Fat-Free Milk
4  Sweetened Dairy Products

In [164]:
records4 = []
for result in results4:
    fiber = result.contents[0:9]
    records4.append((fiber))

In [165]:
import pandas as pd
df = pd.DataFrame(records4 , columns=['fiber rich foods'])

In [166]:
df.head()

                                    fiber rich foods
0                                          RELATED:
1  [The Best and Worst Foods to Eat in a Type 2 D...

In [167]:
df.tail()

                                    fiber rich foods
0                                          RELATED:
1  [The Best and Worst Foods to Eat in a Type 2 D...

In [168]:
print(df)

                                    fiber rich foods
0                                          RELATED:
1  [The Best and Worst Foods to Eat in a Type 2 D...